{% extends 'base.html' %}

{% block contents %}
<body>
<div class="container">
        {% for blog in blogs.all %}
                <div class="card mb-3">
                                <img src="{{ blog.imgurl }}" class="card-img-top">
                                <div class="card-body">
                                  <h5 class="card-title">제목 : {{ blog.title }}</h5>
                                  <p class="card-text">날짜 : {{ blog.pub_date }}</p>
                                  <p class="card-text"><small class="text-muted">{{ blog.summary }}</small></p>
                                </div>
                              </div>
        {% endfor %}
</div>
</body>
{% endblock %}