{% extends 'base.html' %}

{% block contents %}
<body>
<div class="container">
    <p></p>나쵸, 꿀꽈배기, 콘치, 각종 면류, 복숭아 똘순이 등등등 무수히 많은 것들을 좋아해요. 최근 이사 이후 집 정리를 못한채 지내고 있어요. 93년생 이구요. 한양대학교 ERICA
    경제학부 4학년에 이제 복학합니다. 블로그를 꾸미지 못해 아쉬워요. 해커톤을 준비하면서 실력을 갈고 닦아 2학기 때는 저의 포트폴리오 겸 블로그를 만들어 볼게요.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.9242122905475!2d126.8320898162153!3d37.296929979849374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b6ef2f5a7cb73%3A0x26b59cb3d9af4a46!2z7ZWc7JaR64yA7ZWZ6rWQIEVSSUNB7Lqg7Y287Iqk!5e0!3m2!1sko!2skr!4v1564511738789!5m2!1sko!2skr" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</body>
{% endblock %}